<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>About the Team</title>
  </head>
  <body>
    <!--Build navbar at top-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-warning font-weight-bold" href= "../index.html">Movie Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Visualizations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-dark" href="/topten">Top 10</a>
                  <a class="dropdown-item text-dark" href="/rate">Financial Analysis</a>
                  <a class="dropdown-item text-dark" href="/map">International Production</a>
                  
                </div>
              </li>
          <li class="nav-item active">
            <a class="nav-link text-warning" href="/about">About <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
<!--Beginning of jumbotron-->
    <div class="jumbotron">
        <h1>Meet the Team</h1>
        <p class="lead">We are a team of four Georgia Tech's Data Science Bootcamp students. Below is a little more about us.</p>
        <p class="lead">
            <a class="btn btn-warning btn-lg" href="../index.html" role="button">Return Home</a>
          </p>

<!--Cards for team members-->  
    </div>
    <div class="row">
        <div class="card ml-5" style="width: 18rem;">
            <img class="card-img-top" src="https://ca.slack-edge.com/T01NZMFJ755-U01PXKHJ94K-7b96c5333e32-512" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Harsha Vinoy</h5>
            <p class="card-text">I worked on X part of the project.</p>
            <a href="https://www.linkedin.com/in/hvinoy/" class="btn btn-primary">LinkedIn>></a>
            <a href="https://github.com/hvinoy" class="btn btn-primary">GitHub>></a>
            </div>
        </div>
        <div class="card ml-5" style="width: 18rem;">
            <img class="card-img-top" src="https://ca.slack-edge.com/T01NZMFJ755-U01QY4J3FLY-224f093398e7-512" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Connor Scherer</h5>
            <p class="card-text">I worked on X part of the project.</p>
            <a href="https://www.linkedin.com/in/connorscherer/" class="btn btn-primary">LinkedIn>></a>
            <a href="https://github.com/cscherer007" class="btn btn-primary">GitHub>></a>
            </div>
        </div>
        <div class="card ml-5" style="width: 18rem;">
            <img class="card-img-top" src="https://ca.slack-edge.com/T01NZMFJ755-U01PXQFN30B-b5933215c707-512" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Taylor Sperry</h5>
            <p class="card-text">I worked on X part of the project.</p>
            <a href="https://www.linkedin.com/in/taylorsperry22/" class="btn btn-primary">LinkedIn>></a>
            <a href="https://github.com/tsperr" class="btn btn-primary">GitHub>></a>
            </div>
        </div>
        <div class="card ml-5" style="width: 18rem;">
            <img class="card-img-top" src="https://ca.slack-edge.com/T01NZMFJ755-U01QL4E7BH6-23b95b2b3b27-512" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Alex Gainer</h5>
            <p class="card-text">I worked on X part of the project.</p>
            <a href="https://www.linkedin.com/in/alex-dang-gainer/" class="btn btn-primary">LinkedIn>></a>
            <a href="https://github.com/againzer" class="btn btn-primary">GitHub>></a>
            </div>
        </div>
        </div>
    </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </body>
</html>