<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/404style.css">
</head>

<body>
  <div id="particles-js">
    <a href="/"><span class="text-3d">404</span></a>
    <span class="caption">Click to Return Home</span>

  </div>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  
  <script>
  particlesJS.load('particles-js','../static/particle-config.json',
    function(){
      console.log('loaded');
      });
  </script>
  </body>

</html>