<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center">
      <h1 class="jumbotron">Movies</h1>
    </div>
    <div class='container'>
      <div class= 'row'>
      <div id='bar' class='col-lg'>

      </div>
    <div class = "col-lg">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Title</th>
            <th scope="col">Domestic Gross</th>
            <th scope="col">Release Date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in top_ten %}
          <tr>
            <th scope="row">{{item.rank}}</th>
            <td>{{item.title}}</td>
            <td>{{item.totalGross}}</td>
            <td>{{item.releaseDate}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/t10.js"></script>
</body>
</html>